\\__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

*.egg-info/
*.egg
*.whl
dist/
build/
eggs/
parts/
sdist/
var/
pip-wheel-metadata/
*.manifest
*.spec

*.log
*.pot
*.pyc

*.sqlite3
*.sqlite3-journal

media/

static/

*.cover
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragerc

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log

.ipynb_checkpoints/

celerybeat-schedule.*

*.bak
*.swp
*.tmp
*.temp

.DS_Store

