services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: el_network_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
    expose:
      - 8000

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: el_network_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: el_network_celery_beat
    command: celery -A config beat --loglevel=info
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  db:
    image: postgres:16
    container_name: el_network_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: el_network_redis
    restart: always
    ports:
      - "6379:6379"

  nginx:
    image: nginx:1.25
    container_name: el_network_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/vol/static
      - media_volume:/vol/media
    depends_on:
      - web
    ports:
      - "80:80"
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
